:root{
  --text-color-dark-mood: #fff ;
  --bg-color-dark-mood: #121212 ;
  --shadow-dark : 0 0 15px rgba(255, 255, 255, 0.2) ;
  --arshia-color-dark :#393e46 ;
}
@font-face {
  font-family: "mt";
  src: url(../fonts/EuclidCircularB-Regular-WebXL.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "mt";
  list-style: none;
}
a {
  text-decoration: none;
}
body{
  --text-color-mood: #222222 ;
  --bg-color-mood: #fff ;
  --shadow- : 0 0 15px rgba(0, 0, 0, 0.2) ;
  --hover-color : #037dd6;
  --arshia-color : #24292e;
  background: var(--bg-color-mood);
}
body.Tdark{
  --text-color-mood : var(--text-color-dark-mood);
  --bg-color-mood: var(--bg-color-dark-mood);
  --shadow- :var(--shadow-dark) ;
  --hover-color : var(--text-color-dark-mood);
  --arshia-color : var(--arshia-color-dark );
}
/* @media (prefers-color-scheme : dark){
  body.Tauto{
    --text-color-mood : var(--text-color-dark-mood);
    --bg-color-mood: var(--bg-color-dark-mood);
    --shadow- :var(--shadow-dark) ;
    --hover-color : var(--text-color-dark-mood);
  }
} */
.header{
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background: var(--bg-color-mood);
}
.parentContainer {
  margin-top: 20px;
}
.menuLi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuLiItem {
  /* margin-left: 20px; */
  font-weight: 600;
  /* padding: 0 10px; */
  padding-left: 7px;
  /* padding-right: none; */
  position: relative;
}

.menuLiItem span {
  color: var(--text-color-mood);
}
.menuLiItem:hover span {
  color: var(--hover-color);
}
.menuLiItemDropDown {
  padding: 0 5px;
  position: absolute;
  top:  43px;
  left: -25px;
  width: max-content;
  /* width: 170px; */
  background: var(--bg-color-mood);
  border-radius: 8px;
  box-shadow: var(--shadow-);
  display: none;
}
.menuLiItem:hover .menuLiItemDropDown{
    display: block;
}
.menuLiItemDropDown:hover{
    display: block;
}
.menuLiItemDropDown > li {
  margin: 10px auto;
  padding: 8px;
  border-radius: 5px;
  transition: linear .1s;
}
.menuLiItemDropDown > li:hover {
    background-color: rgba(218, 218, 218, 0.4);
    color: var(--hover-color);
}
.dropDownChild {
  color: var(--text-color-mood);
}

/* .mood {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.Download {
  padding: 10px 25px;
  border-radius: 100px;
  background: #037dd6;
  color: white;
  transition: 0.4s;
}
.Download:hover {
  background: #0060a5;
}

/* ==================================================
                      mobile menu
=================================================== */
.mobileMenu {
  display: none;
  margin-top: 20px;
  /* display: flex; */
  justify-content: space-between;
}
.logo{
  margin-left: 10px;
  width: 200px;
}
.hamIcon {
  /* font-size: 50px; */
  color: var(--text-color-mood);
  display: block;
  width: fit-content;
  transform: rotate(90deg);
  font-weight: 900;
  margin-right: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.mobileDropDownMenu{
  display: none;
  width: 95%;
  margin: 10px auto;
  height: max-content;
}

.mobileMenuTitle{
  height: 30px;
  cursor: pointer;
}
.mobileMenuTitle span{
  float: left;
  color: var(--text-color-mood);}
.mobileMenuTitle:hover span{color: var(--hover-color);}
.mobileMenuTitle img{float: right; padding-top: 5px;}
.mobileMenuLiItemDropDown{
  margin: 5px 0;
  height: 0;
  overflow: hidden;
}
.mobileDropDownChild{
  color: var(--text-color-mood);
  display: flex;
  align-items: center;
  margin: 10px auto;
  padding: 0 20px;
  height: 40px;
  border-radius: 5px;
  transition: linear .1s;
}
.mobileDropDownChild:hover{
  background-color: rgba(218, 218, 218, 0.4);
  color: var(--hover-color);
}
.mobileDownloadCountainer{
  margin: 20px auto;
}
.mobileDownload{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  border-radius: 100px;
  background: #037dd6;
  color: white;
  transition: 0.4s;
}
.colorMood{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobileDropDownMenuShow{
  display: block;
}

/*  */
.mobileDropDownMenuDisplay{
  display: none;
}